
@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:wght@300;600&display=swap');

*{
  margin: 0;
}

#main-wrapper{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#title, #subtitle{
  width: 100%;
  text-align: center;
  color: $primary-color;
}

#title{
  margin-bottom: 0.3em;
  font-size: 52px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#subtitle{
  margin-bottom: 2em;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

#arrow-left{
  width: 30px;
  position: absolute;
  top: 50%;
  left: 30px;
  transition: 0.1s;
  opacity: 0.5;
  transform: scaleX(-1);
  &:hover{
    opacity: 1;
  }
}

#arrow-right{
  width: 30px;
  position: absolute;
  top: 50%;
  right: 30px;
  transition: 0.1s;
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}

#pagination{
  position: absolute;
  bottom: 80px;
  display: flex;
  flex-wrap: wrap;
}

.photo-cover{
  position: absolute;
  top: 0;
  height: 100%;
  left: -35%;
  z-index: -10;
  @media (min-width: 1024px) {
    object-fit: cover;
    max-width: 50%;
    left: auto;
  }
}

.photo-cover-left-0{
  @media (min-width: 1024px){
    left: 0;
  }
}

.photo-cover-right-0{
  @media (min-width: 1024px){
    right: 0;
  }
}

.w-full{
  width: 100%;
}

.w-screen{
  width: 100vw;
}

.h-screen{
  height: 100vh;
}

.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.justify-center{
  justify-content: center;
}

.button{
  color: $primary-color;
  border: solid 3px $primary-color;
  padding: 15px 90px;
  margin: 0 35px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 1s;
  &:hover{

  }
}

.button-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.button-wrapper-left{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.button-wrapper-right{
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.circle{
  width: 15px;
  height: 15px;
  margin: 0 10px;
  border-radius: 9999px;
  background-color: $primary-color;
  transition: 0.1s;
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}

.circle-active{
  opacity: 1;
}

.left-enter-active {
  animation: leftIn 0.3s ease-in-out;
}

.left-leave-active {
  animation: leftOut 0.3s ease-in-out;
}

.right-enter-active {
  animation: rightIn 0.3s ease-in-out;
}

.right-leave-active {
  animation: rightOut 0.3s ease-in-out;
}

@keyframes leftIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes leftOut {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}

@keyframes rightIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes rightOut {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@media (min-width: 1024px) {
  .left-enter-active {
    animation: leftIn 0.4s ease-in-out;
  }

  .left-leave-active {
    animation: leftOut 0.4s ease-in-out;
  }

  .right-enter-active {
    animation: rightIn 0.4s ease-in-out;
  }

  .right-leave-active {
    animation: rightOut 0.4s ease-in-out;
  }

  @keyframes leftIn {
    from { transform: translateX(-200%); }
    to { transform: translateX(0); }
  }

  @keyframes leftOut {
    from { transform: translateX(0); }
    to { transform: translateX(200%); }
  }

  @keyframes rightIn {
    from { transform: translateX(200%); }
    to { transform: translateX(0); }
  }

  @keyframes rightOut {
    from { transform: translateX(0); }
    to { transform: translateX(-200%); }
  }
}